.App {
  /* display: flex;
  width: 100%;
  justify-content: space-around; */
}

.container {
  display: flex;
  /* width: 100%; */
  justify-content: space-around;
  padding: 10px;
}

.App .column {
  width: 30%;
}

.droppable-col {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  background-color: gray;
  opacity: 50%;
  padding: 10px 10px 0 10px;
  border-radius: 7px;
}

.item {
  margin-bottom: 10px;
  color: white;
  border: 1px solid white;
  padding: 5px;
  border-radius: 7px;
}

.form {
  display: flex;
  justify-content: center;
  margin: 20px;
}
